{% load static %}

<nav class="navbar">
    <div class="nav-container">

        <div class="logo">
            <img src="{% static 'images/SurveySnap-Logo.png' %}" alt="SurveySnap Logo">
            <a href="{% url 'creator_dashboard' %}">SurveySnap</a>
        </div>

        <div class="nav-center">
            <a href="{% url 'creator_dashboard' %}">Dashboard</a>
            <a href="{% url 'create_survey_page' %}">Create Survey</a>
            <a href="{% url 'my_surveys' %}">My Surveys</a>
            <a href="{% url 'analytics' %}">Analytics</a>
            <button class="btn btn-danger logout-btn" data-url="{% url 'logout' %}">
                Logout
            </button>
        </div>

    </div>
</nav>