{% load static %}

<nav class="navbar">
    <div class="nav-container">

        <div class="logo">
            <img src="{% static 'images/SurveySnap-Logo.png' %}" alt="SurveySnap Logo">
            <a href="{% url 'home' %}">SurveySnap</a>
        </div>

        <div class="nav-links">
            <a href="#">Dashboard</a>
            <a href="#">Create Survey</a>
            <a href="#">My Surveys</a>
            <a href="#">Analytics</a>
            <button class="btn btn-danger logout-btn" onclick="window.location.href = '{% url 'logout' %}'">Logout</button>
        </div>

    </div>
</nav>