{% load static %}

<nav class="navbar">
    <div class="nav-container">

        <div class="logo">
            <img src="{% static 'images/SurveySnap-Logo.png' %}" alt="SurveySnap Logo">
            <a href="{% url 'admin_dashboard' %}">SurveySnap</a>
        </div>

        <div class="nav-center">
            <a href="{% url 'admin_dashboard' %}">Dashboard</a>
            <a href="{% url 'manage_users' %}">Manage Users</a>
            <a href="{% url 'manage_surveys' %}">Manage Surveys</a>
            {% comment %} <a href="{% url 'manage_templates' %}">Manage Templates</a> {% endcomment %}
            {% comment %} <a href="{% url 'reports' %}">Reports</a> {% endcomment %}
            <button class="btn btn-danger logout-btn" data-url="{% url 'logout' %}">
                Logout
            </button>
        </div>

    </div>
</nav>