{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SurveySnap</title>

        <!-- Tailwind -->
        <script src="https://cdn.tailwindcss.com"></script>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Inter:wght@400;500&display=swap" rel="stylesheet">

        <!-- External CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link rel="icon" type="image/png" href="{% static 'images/SurveySnap-Logo.png' %}">

        <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>

        <script>
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        primary: "#137fec",
                        "background-light": "#f6f7f8",
                        "background-dark": "#101922",
                    },
                    fontFamily: {
                        display: ["Inter", "sans-serif"]
                    }
                }
            }
        }
        </script>
    </head>

<body>

    {% if show_home_navbar %}
        {% include "home_navbar.html" %}

    {% elif request.user.is_authenticated %}

        {% if request.user.role == "admin" %}
            {% include "survey/admin/admin_navbar.html" %}

        {% elif request.user.role == "creator" %}
            {% include "survey/creator/creator_navbar.html" %}

        {% elif request.user.role == "respondent" %}
            {% include "survey/respondent/respondent_navbar.html" %}
        {% endif %}

    {% else %}
        {% include "home_navbar.html" %}
    {% endif %}

    <div class="main-wrapper">
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>

    {% include "footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
    document.addEventListener("DOMContentLoaded", function () {

        const logoutButtons = document.querySelectorAll(".logout-btn");

        logoutButtons.forEach(function(button) {

            button.addEventListener("click", function(event) {
                event.preventDefault();

                const logoutUrl = this.dataset.url;

                Swal.fire({
                    title: "Logout?",
                    text: "Are you sure you want to logout?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#2563EB",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Logout",
                    cancelButtonText: "Cancel"
                }).then((result) => {

                    if (result.isConfirmed) {
                        window.location.href = logoutUrl;
                    }

                });

            });

        });

    });
    </script>

</body>

</html>