{% load static %}

<nav class="navbar">
    <div class="nav-container">

        <div class="logo">
            <img src="{% static 'images/SurveySnap-Logo.png' %}" alt="SurveySnap Logo">
            <a href="#">SurveySnap</a>
        </div>

        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Available Surveys</a>
            <a href="#">My Responses</a>
            <a href="#">Profile</a>
            <button class="btn btn-primary">Logout</button>
        </div>

    </div>
</nav>